# Get your Google Gemini API Key here https://cloud.google.com/vertex-ai
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyA3XgulkuJerP_6SpxSXEGj0msAtCpIEsU

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=38b446432ca070e7be56c8614f6b5a76

/*
 * The following keys below are automatically created and
 * added to your environment when you deploy on vercel
 */

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart

POSTGRES_URL="postgres://b0be2a33948565f48af7e802cc2030cfc6cf6a03362ae413da8b4cc20a25af10:sk_BVTv57eR28VctwTVgu8rS@db.prisma.io:5432/postgres?sslmode=require"
